*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp
.DS_Store

exp-*/data/*
exp-*/log/*
exp-*/results*/*
exp-*/caffemodel/*
exp-*/tfmodel/*
exp-*/__obsolete__/*

*.caffemodel
*.tfmodel*
downloaded_models/*

*-Copy*.ipynb

*/uploads/*
*/viz/*
exp-txt-classifier/explanation_classifier_model/*

checkpoint

events.out.tfevents.*
